@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
$primary-font-stack: 'Raleway', sans-serif;
$title-font-stack: 'Playfair Display', serif;
$primary-color: #333;
$primary-bg-color: #f2f2f2;
$light-grey: #fafafa;
$white: #fff;
$grey: #555;
$text-bg: #0b26e41f;
$terminal-color: #79b6f2;
// $terminal-color: #79ef14;

body{ font-family: $primary-font-stack; font-weight: lighter;}

button{ outline: none;}

a{ 
  text-decoration: none; color: #333;
}

article{ margin: auto; max-width: 700px; }

h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  text-align: center;
  color: $primary-color;
}

h1{ margin: 120px 0px 120px 0px; }

h3{ margin: 20px 0 0; }

p{
  text-align: justify;
  color: $primary-color;
  line-height: 1.8rem;

  a{
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid $text-bg;
    box-shadow: inset 0 -2px 0px 0px $text-bg;
    padding: 0.2rem;
    &:hover{
      background: rgba(11, 38, 228, 0.4392156862745098);
      border-radius: 3px;
      color: $white;
    }
  }

}

mark{
  color: inherit;
  border-radius: 3px;
  padding: 0.2rem;
  background-color: $text-bg;
  &:hover{
    color: inherit;
  }
}

img{
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  box-shadow: none;
}

hr{ margin-right: 1rem; margin-left: 1rem; }

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: $primary-bg-color;
}

.wrapper{
  width: 100%;
  max-width: 1080px;
  margin: 0px auto 120px auto;
  justify-content: center;
  padding: 0px 20px;
}

.flex-container{
  display: flex; 
  flex-wrap: wrap; 
  max-height: 300px;
}

.navbar{
  height: 48px;
  margin: 0px;
  background: $primary-color;

  ul{ 
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  li{ list-style: none; padding: 9px 12px 9px 12px;}

  a{
    color: $primary-bg-color; 
    font-family: $title-font-stack;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
  }
}

.home{
  height: 100%;
  text-align: center;

  h1{margin-bottom: 10px;} 

  .title{
    font-size: 1.4rem;
    font-family: $title-font-stack;
    color: $grey;
  }

  .terminal {
    max-width: 640px;
    margin: auto;
    margin-top: 3rem;
    text-align: initial;

    .top-bar{
      height: 30px;
      border-radius: 4px 4px 0 0;
      border-top: thin solid #eaeae9;
      border-bottom: thin solid #dfdfde;
      background: #ebebeb;
      .circles{
        margin: 1px 10px;

        .circle{
          height: 10px;
          width: 10px;
          display: inline-block;
          border-radius: 50%;
          background-color: white;
          margin-left: 5px;
        }

        .circle-red{background-color: #fe5f55;}
        .circle-yellow{background-color: #ffbd2e;}
        .circle-green{background-color: #29ca3f;}
      }
    }
    .window-content{
      margin: 0px;
      padding: 10px;
      width: 100%;
      min-height: 400px;
      display: inline-block;
      background: #002c36;
      border-radius: 0 0 2px 2px;
      color: $primary-bg-color;

      .skills{
        color: $terminal-color;
      }

      code{
        font-family: $primary-font-stack;
        margin-left: 10px;
        background: none;
      }
    }
  }
}

.about{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $light-grey;

  article{
    margin-right: 0px;
    background-color: #fafafade;
  }

  .profil-image{flex: 30%;}
  .profil-text{min-width: 300px;flex: 70%;}
}

.resume{
  h2{ text-align: left; }
  hr{ margin-left: 0px; }
}

.footer{
  width: 100%;
  margin-bottom: 0px;

  p{
    color: $grey;
    line-height: unset;
    margin-left: 1rem;
  }

  ul{ display: flex; margin-bottom: 0px; }

  li{ list-style: none; padding: 9px 12px 9px 12px; }

  a{ color: #555;}

  .wrapper{ margin-bottom: 0px;}
}

// === List Projects === //
.projects{
  background-color: $primary-bg-color;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  h2{margin: 3rem 0px 0px 0px; text-align: left; }

  .project-details{
    background: white;
    padding: 0 2rem;
    flex: 50%;
  }

  .project-image{ flex: 50%; min-width: 280px;}

  .subtitle{ color: $grey; }

  .project-box{ margin-bottom: 1rem; }
}

// === Page Project === //
.project{
  background: $primary-bg-color;

  img{max-height: 400px;}

  h1{margin: 20px 0px 50px 0px;}
  
  .project-image{
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top:120px;
  }

  .project-button{
    display: flex;
    justify-content: space-evenly;
  }
}

// === Page Resume === //
.resume{
  background-color: $light-grey;
  h2{
    margin-bottom: 0.5rem;
  }

  h3{
    text-align: left;
    font-family: inherit;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  hr{
    background: $text-bg;
  }

  code{
    background-color: $text-bg;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.2rem;
    margin-left: 10px;
    white-space: nowrap;
  }
}

.button{
  display: block;
  margin: auto;
  margin-top: 50px;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid $primary-color;
  padding: 10px;
  background-color: $primary-color;
  color: $white;
}

.name{
  font-size: 1.3rem;
  font-family: $title-font-stack;
  color:$primary-color;
  margin-top: 120px;
  margin-bottom: 20px;
}

.icon{
  width: 50px;
  height: auto;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid;
  padding: 10px;
}

// === Effects === //
.grow:hover{
  box-shadow: 0px 7px 6px 0px #cec8c8;
  transform: translate(0,-3px); 
  transition: all 0.3s ease;
}

.nowrap{ white-space: nowrap; }

@media screen and  (max-width: 600px){

  h1{ margin: 50px 0px 50px 0px }

  .flex-container{
    display: flex; 
    flex-wrap: wrap; 
    max-height: none;
  }

  .projects{
    .project-image{ max-height: 200px; min-width: 100%; }
  }

  .project{
    img{ max-height: 200px; }

    .project-image{ margin-top: 50px; }
  }
}